/* GLOBAL */
body {
  background-color: #0b1724;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.app-container {
  max-width: 1100px;
  margin: auto;
}

.logo {
  width: 240px;
  display: block;
  margin: 0 auto 15px auto;
}

/* HEADERS */
.header h1 {
  text-align: center;
  font-size: 32px;
  margin: 5px 0;
}

.header p {
  text-align: center;
  font-size: 14px;
  color: lightgray;
}

/* CARD SECTIONS */
.card {
  background: #152233;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card h2 {
  margin-bottom: 10px;
  color: #00aaff;
}

/* INPUT / TEXT AREA */
input,
textarea,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

/* ADD BUTTON */
.add-btn {
  background: #1f6feb;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

/* GENERATE BUTTON */
.generate-btn {
  width: 100%;
  background: #0099ff;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
